@charset "utf-8";

/*
CIS-181 Final Project: Wildlife Website (fauna global styles)
Author: Leslie Berrie / mazal bohbot berrie
Date:   May 04, 2024

Project:  PRAIRE PAWS+CLAWS
Filename: fauna.css -v.x.22
*/


/* BIRDS OF ILLINOIS */

.waxwing {
  background-color: rgb(47 141 89);
  background-image: url(../assets/img/cedar-waxwing-2.jpg);
  background-size: cover;
  background-position: center;
}

.raptor {
  background-color: rgb(47 141 89);
  background-image: url(../assets/img/raptor.jpg);
  background-size: cover;
  background-position: bottom;
}

.kingfisher {
  background-color: rgb(47 141 89);
  background-image: url(../assets/img/belted-kingfisher.jpg);
  background-size: cover;
  background-position: center;
}