@charset "utf-8";

/*
CIS-181 Final Project: Wildlife Website (footer styles)
Author: Leslie Berrie / mazal bohbot berrie
Date:   May 04, 2024

Project:  PRAIRE PAWS+CLAWS
Filename: footer.css -v.x.22
*/


#footer {
  font-size: 85%;
  line-height: 1;
  vertical-align: baseline;
  background: rgb(25 25 25);
  }

#footer .indent {
  margin: auto 18% auto 10%;
}

#footer h5 {
  color: rgb(34 129 19);
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: .05rem;
  margin-bottom: 1em;
  text-transform: uppercase;
  padding: 2px;
}

#footer p {
  color: rgb(255 255 255);
  font-size: .3em;
  letter-spacing: -.03em;
  line-height: 6em;
  text-transform: uppercase;
}

#footer p.copyright {
  font-size: .5em;
  font-style: italic;
  line-height: 3.375em;
  text-transform: none;
}

#footer a, #footer a:link, #footer a:visited {
  color: rgb(146 200 62); 
}

#footer a:hover {
  color: rgb(207 219 82);
  cursor: pointer;
}

#footer .footer-menu {
  border-top: solid 2px rgb(34 129 19);
  list-style: none;
  margin: 3em 0 1em;
  padding: 1.25em 0 0 0;
}

#footer .footer-menu li, a {
  display: inline-block;
  text-decoration: none;
}

#footer .footer-menu li:not(:last-child):after {
  color: rgb(34 129 19);
  content: ' | ';
  padding: 0 .5em;
}

#footer .aza {
  background: url(../assets/img/aza.svg) center no-repeat;
  background-size: contain;
  height: 70px;
  width: 180px;
  margin: .4em;
  max-width: 100%;
  text-indent: -999em;
  display: inline-block;
}

#footer .waza {
  background: url(../assets/img/waza.png) center no-repeat;
  background-size: contain;
  height: 70px;
  width: 180px;
  margin: .4em;
  max-width: 100%;
  text-indent: -999em;
  display: inline-block;
}

#footer .shpo {
  background: url(../assets/img/shpo.svg) center no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
  margin: .4em;
  text-indent: -999em;
  display: inline-block;
}

#footer .hc {
  background: url(../assets/img/hc.svg) center no-repeat;
  background-size: contain;
  height: 80px;
  margin: .4em;
  width: 80px;
  text-indent: -999em;
  display: inline-block;
}
