@charset "utf-8";

/*
CIS-181 Final Project: Wildlife Website (membership page styles)
Author: Leslie Berrie / mazal bohbot berrie
Date:   May 04, 2024

Project:  PRAIRE PAWS+CLAWS
Filename: membership.css v.x.03 / -v.x.23
*/


/* MEMBERSHIP LEVEL CARD STYLES */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: pink;
/*  border: 5px solid orange; */
  width: 85%;
  margin: auto;
  padding: 0px;
}

.fat-gap {
  border-right: 12px solid white;
  border-left: 12px solid white;
}

.card-label {
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.card-label-basic {
  background-color: #238113; /* Green */
}
.card-label-best {
  background-color: #f99d2f; /* Orange */
  color: black;
}
.card-label-deluxe {
  background-color: #027585; /* Ocean-Blue */
}

.grid-item {
  background-color: #e6e6e6; /* Light-Gray */
  padding: 10px;
  font-size: 16px;
  text-align: center;
  height: 100%;
}

.hairline-basic {
  border: 1px solid #238113; /* Green */
}

.hairline-best {
  border: 1px solid #f99d2f; /* Orange */
}

.hairline-deluxe {
  border: 1px solid #027585; /* Ocean-Blue */
}

.button {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}
.button-basic {
  background-color: #238113; /* Green */
}
.button-best {
  background-color: #cf7018; /* Orange-Rust */
}
.button-deluxe {
  background-color: #01a0a3; /* Light Ocean-Blue */
}


/* TABLE BENEFITS STYLES */

.table-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
/*  background-color: pink; */
/*  border: 5px solid orange; */
  width: 65%;
  margin: 2% 20% 100px 20%;
  padding: 0px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 5px solid white;
  border-style: solid none solid none;
  text-align: left;
  padding: 8px;
}

tr + tr {
  background-color: lightgrey;
}

td {
  background-color: rgb(230 230 230);
  text-align: left
}

td + td {
  background-color: rgb(146 199 62);
  text-align: center
}

td + td + td {
  background-color: rgb(249 157 47);
  text-align: center
}

td + td + td + td {
  background-color: rgb(150 215 211);
  text-align: center
}

.paw-print {
  display: block;
  margin: 0 auto;
  width: 25px;
}

.grid-item * {
  text-align: center;
  font-weight: 300;
}

