@charset "utf-8";

/*
CIS-181 Final Project: Wildlife Website (basic styles)
Author: Leslie Berrie / mazal bohbot berrie
Date:   May 04, 2024

Project:  PRAIRE PAWS+CLAWS
Filename: styles.css -v.x.22
*/


/* Basic Styling */


@font-face {
  font-family: logoFont;
  src: url('../assets/Evermore-WyDmO.ttf') format('truetype');
}

@font-face {
  font-family: logoFont-Italic;
  src: url('../assets/EvermoreItalic-Eam18.ttf') format('truetype');
}

@font-face {
  font-family: splashFont;
  src: url('../assets/Franie-Light.ttf') format('truetype');
}

@font-face {
  font-family: splashFont-Bold;
  src: url('../assets/Franie-Bold.ttf') format('truetype');
}

*,
::before, 
::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
}

p.logo {
/*  position: fixed; */
  margin: -90px 0 0 20px;
  background-image: url(../assets/img/icon.png);
  background-color: rgb(202 219 42 / 85%);
  background-size: 180px;
  background-position: center;
 }

p.full-logo {
  height: 100px;
  min-width: 150px;
}

 p.half-logo {
  height: 100px;
  min-width: 120px;
}

ul.first-ul-box, .second-ul-box {
  margin: 0px;
  float: right;
}

li.tix, li.memb, li.donate, li.search, li.stretch, li.sub-nav {
  display: flex;
  float: left;
}

li.tix, a.tix {
  background-color: rgb(202 219 42);
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 6px;
}

li.memb, a.memb {
  background-color: rgb(104 200 198);
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 6px;
}

li.donate, a.donate { 
  background-color: rgb(254 203 0);
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 6px;
}

li.search {
  background-color:  black; 
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  font-size: 20px;
}

li.stretch, p.stretch {
  text-decoration: none;
  padding: 8px 20px;
  font-size: 20px;
}

li.sub-nav, a.sub-nav {
  color: white;
  font-weight: bold;
  padding: .5rem;
  font-size: 1.2rem; 
  text-decoration: none;
  padding: 5px 6px;
  margin: -20px 0px 0px 0px;
  text-shadow: 1px 1px 2px black;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-first {
  background-color: black;
  min-width: calc(270px + 1rem);
}

{  /* PLACEHOLDER BUNNY HERO */  }

.flush-right {
  margin-left: auto;
  margin-right: 0;
}

.nav-second-container {
  background-color: green;
  background-image: url(../assets/img/bunny.jpg);
  background-size: cover;
  background-position: right;
  padding: 50px 15px 0 30px;
  width: 100%;
  height: 900px;
  display: flex;
}

.breadcrumb-nav a, .breadcrumb-nav a:link, .breadcrumb-nav a:visited {
  color: green;
  font-weight: bold;
}

ul.body-nav a, .body-nav a:link, .body-nav a:visited {
  color: rgb(2 117 133);
  font-weight: bold;
  line-height: 2rem;
}



/* For navigatoin and link styling reference

#footer a, #footer a:link, #footer a:visited {
  color: rgb(146 200 62); 
}

#footer a:hover {
  color: rgb(207 219 82);
  cursor: pointer;
}

#footer .footer-menu {
  border-top: solid 2px rgb(34 129 19);
  list-style: none;
  margin: 3em 0 1em;
  padding: 1.25em 0 0 0;
}

#footer .footer-menu li, a {
  display: inline-block;
  text-decoration: none;
}

#footer .footer-menu li:not(:last-child):after {
  color: rgb(34 129 19);
  content: ' | ';
  padding: 0 .5em;
}


*/



.hero {
  font-size: 400%;
  color: darkorange;
  text-shadow: 2px 2px 5px black;
  text-align: right;
  letter-spacing: .4rem;
/*  text-transform: uppercase; */
  font-family: logoFont;
}

.half-hero {
  height: 400px;
  background-image: url(../assets/img/river-otter-2.jpg);
  background-size: cover;
  background-position: center;
}

.half-hero-about {
  background-image: url(../assets/img/river-otter-2.jpg);
}

.half-hero-memb {
  background-image: url(../assets/img/bison.jpg);
}

.half-hero-birds {
  background-image: url(../assets/img/raptor.jpg);
}

.main-container {
  display: grid;
  height: 100%;
  margin: 15px;
}

.main {
  background-color: white;
  min-width: 135px;
  text-align: center;
  height: 100%;
}

.sidebar {
  background-color: orange;
  height: .5rem;
}

{  /* PLACEHOLDER ITEMS CONTAINER */  }

.items-container {
  display: grid;
  height: 300px;
}

.highlight-box {
  display: grid;
  height: auto;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto;
  justify-content: center;
  gap: 1rem;
  padding: 20px;
}

{  /* PLACEHOLDER ITEM CARD */  }

.item1 {
  background-color: rgb(47 141 89);
  background-image: url(../assets/img/cedar-waxwing-2.jpg);
  background-size: cover;
  background-position: center;
}

.item2 {
  background-color: rgb(47 141 89);
  background-image: url(../assets/img/river-otter-2.jpg);
  background-size: cover;
  background-position: center;
}

.item3 {
  background-color: rgb(47 141 89);
  background-image: url(../assets/img/white-tailed-deer-2.jpg);
  background-size: cover;
  background-position: center;
}

h2 {
  font-family: splashFont;
  font-weight: 300;
  text-align: center;
  color: rgb(146 199 62);
  font-size: 3.5em;
  letter-spacing: .1rem;
  word-spacing: -.5rem;
  text-transform: uppercase;
  margin: 1.25em 0 0 0;
}

h3 {
  font-family: splashFont;
  font-weight: 600;
  text-align: center;
  color: rgb(35 129 19);
  font-size: 1.2em;
  letter-spacing: .06rem;
  margin: 1.25em 0 0 0;
}

h4 {
  font-family: splashFont-Bold;
  text-align: left;
  color: rgb(0 0 0);
  font-size: 1.6em;
  letter-spacing: .08rem;
  margin: 0;
}

.body-copy {
  font-family: sans-serif;
  text-align: left;
  color: rgb(0 0 0);
  font-size: 1em;
  /* letter-spacing: .08rem; */
  margin: 0 0 0 30px;

}

